body {
    overflow: hidden;
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

.button-container {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 800;
}

.button {
    padding: 15px 20px;
    font-size: 14px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

@media screen and (max-width: 800px) {
    .button-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px; 
        right: 10px;
        background-color: rgba(48, 48, 48, 0.9);
        padding: 10px;
        border-radius: 6px;
    }

    .button-container.show {
        display: flex;
    }

    .dropdown-toggle {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #555;
        color: white;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        border: none;
        z-index: 1000;
    }
}

.panel-thumb {
    width: 50px;
    height: 5px;
    background-color: #aaa;
    border-radius: 3px;
    margin: 10px auto;
    cursor: pointer;
  }

@media screen and (min-width: 801px) {
    .panel-thumb {
        display: none;
      }

    .dropdown-toggle {
        display: none;
    }
}

.button:hover {
    color: #1ecbe1; 
  }

  #pageTitle {
    position: absolute;      
    top: 10px;               
    left: 10px;              
    color: #FFFFFF;           
    z-index: 800;  
    font-size: 14px;
    padding: 15px 20px;          
}

.control-panel {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    background: rgba(48, 48, 48, 0.9);
    border-radius: 6px;
    border: 1px solid #444;
    z-index: 800;
}

@media screen and (max-width: 800px) {
    .control-panel {
      display: none;
    }
  }

.toggle-control {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    font-size: 12px;
    color: #FFF;
}

.toggle-control input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-control .slider {
    width: 40px;
    height: 22px;
    background-color: #ccc;
    border-radius: 22px;
    cursor: pointer;
    position: relative;
    transition: .4s;
    margin-left: 10px; 
}

.toggle-control .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

.toggle-control .slider:active:before {
    width: 20px;
}

@media screen and (min-width: 801px) {
    #aboutPanel {
      position: absolute;
      top: 20%;
      right: 31%;
      width: 300px;
      background: #242424;
      opacity: 0.9;
      border-radius: 5px;
      padding: 0px 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(0, 0, 0, 0.2);
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
      z-index: 1000;
      color: white;
      min-height: 15%;
      max-height: 60%;
      font-size: 14px;
    }
    
    #verticalLine, #diagonalLine {
      display: block;
    }
  }
  
  /* Styles for small screens */
  @media screen and (max-width: 800px) {
    #aboutPanel {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #242424;
      opacity: 0.95;
      border-radius: 15px 15px 0 0;
      padding: 15px;
      box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
      transform: translateY(100%);
      transition: transform 0.5s ease-in-out;
      z-index: 1000;
      color: white;
      font-size: 14px;
      max-height: 60%;
      overflow-y: auto;
    }
  
    #aboutPanel.show {
      transform: translateY(0);
    }
  
    #verticalLine, #diagonalLine {
      display: none;
    }
  }

.experience {
    margin-bottom: 20px;
}

.experience h3 {
    margin: 0px 0px 5px 5px; 
    color: rgb(197, 196, 196);
    padding: 0px;
    font-size: 15px;
}

.experience p {
    color: #444; 
    font-size: 14px;
    line-height: 1.3;
    padding-top: 0px;
    margin-top: 0px; 
}

.highlight {
    color: rgb(161, 160, 160); 
}


#aboutPanel h2 {
    padding: 0px 5px;
    color: rgb(197, 196, 196);
}

#aboutPanel p, #aboutPanel ul, #aboutPanel a {
    color: rgb(169, 166, 166);
    line-height: 1.6;
    padding: 0px 5px;
}

.textdiv{
    max-height: 350px;
    overflow: auto;
    color: rgb(169, 166, 166);
    font-size: 14px;
    line-height: 1.3;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-top: 0px; 
    margin-bottom: 15px;
    border: black;
}

.profile-pic {
    display: block;
    margin: 0 auto; 
    max-width: 50%;
    height: auto;
}


.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}

.project-card {
    position: relative;
    width: 300px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;  
    z-index: 0;  
}

.project-card a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.project-card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease; 
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: rgb(197, 196, 196);
    font-size: 14px;
    padding: 5px 0;
    text-align: center;
    transition: opacity 0.3s ease;  
}

.project-card:hover {
    transform: scale(1.05);  
    z-index: 1;  
}



::-webkit-scrollbar {
    width: 6px; 
    background-color: transparent;
  }
  
::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:hover {
    background: #969696;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
}

.modal-content {
    background-color: #333333;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    width: 80%;
    max-width: 1200px;
    height: 60%;
    box-sizing: border-box;
    transition: opacity 0.2s ease-in-out;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #FFF;
    user-select: none;
}

.nav-arrow.left {
    left: 20px;
}

.nav-arrow.right {
    right: 20px;
}

.hidden {
    display: none;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.nav-arrow1 {
    width: 25px;   
    height: auto; 
    padding: 1px;
}